
<div class="container-xxl py-5">                           
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <p class="d-inline-block border rounded-pill py-1 px-4">Team mentors</p>
      <h1>Đội ngũ mentor của team SEM Scholars</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.1s">
        <div class="team-item position-relative rounded overflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\linhmon.jpg" alt="">
          </div>
          <div class="team-text text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Linh Mon</h5>
            <p class="text-primary">Founder</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Computer Science và Business Technology Management tại KAIST, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal" data-target="#exampleModal">
                Read more
              </button>
            </div>
           
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title fs-5" id="exampleModalLabel">Linh Mon - Founder</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Học bổng GKS-U 2020.</p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: học bổng toàn phần KAIST, GKS-U 2021,2022,2023; GKS-G 2021,2022,2023; học bổng trường
                      KAIST, SNU, KU, Yonsei, SKKU, SoongSil, ChungAng,
                      Ewha, Hanyang, Kyunghee .v.v.., học bổng Huyndai Motor Chung Mong-Koo Global Scholarship, Fully
                      fund từ AKS summer camp.
                      <br>- Việt Nam: Fulbright University Vietnam.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.5s">
        <div class="team-item position-relative rounded overflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\ngocmai.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Ngọc Mai</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Computer Science và Business Technology Management tại KAIST, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#ngocmai">Read more</button>
            </div>
            <div class="modal fade" id="ngocmai" tabindex="-1" aria-labelledby="ngocmaiLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title fs-5" id="ngocmaiLabel">Mentor Ngọc Mai</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các nước trên toàn thế giới.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng toàn phần của KAIST
                      <br>- Mỹ: học bổng 100% và hỗ trợ tài chính của các trường: Minerva University, Texas Christian
                      University, Allegheny College,
                      Depauw University, Hobart & William Smith College, Lewis & Clarke College, Miami University, Ohio
                      Wesleyan University,
                      Rhodes College.
                      <br>- Nhật Bản: học bổng 100% từ Tokyo International University, 80% Ritsumeikan Asia Pacific
                      University
                      <br>- Trung Quốc: học bổng 95% Duke Kunshan University.
                      <br>- Úc: học bổng 75% Swinburne University of Technology, học bổng 50% Deakin University, học
                      bổng 90% SP Jain School of Global and Management,
                      <br>- Hồng Kông: The Hong Kong University of Science and Technology
                      <br>- Trường quốc tế tại Việt Nam: Fulbright University Vietnam, VinUniversity
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: học bổng toàn phần KAIST
                      <br>- Úc: Deakin University
                      <br>- Nhật Bản: Ritsumeikan Asia Pacific University.
                      <br>- Italy: Ca' Foscari University of Venice
                      <br>- Việt Nam: British University Vietnam, Fulbright University Vietnam, Vin University.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative rounded overflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\duckien.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Đức Kiên</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Thạc sĩ ngành Statistics tại EPFL(École Polytechnique Fédérale de Lausanne), Thụy Sĩ</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#duckien">Read more</button>
            </div>
            <div class="modal fade" id="duckien" tabindex="-1" aria-labelledby="duckienLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="duckienLabel">Mentor Đức Kiên</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các nước trên toàn thế giới chuyên ngành science & engineering.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng toàn phần của KAIST
                      <br>- Thụy Sĩ: EPFL(École Polytechnique Fédérale de Lausanne)
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: học bổng toàn phần KAIST
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\thanhtrung.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Thành Trung</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Thạc sĩ ngành Environmental Engineering tại KAIST, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#thanhtrung">Read more</button>
            </div>
            <div class="modal fade" id="thanhtrung" tabindex="-1" aria-labelledby="thanhtrungLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="thanhtrungLabel">Mentor Thành Trung</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các nước trên toàn thế giới chuyên ngành science & engineering.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng chính phủ Hàn Quốc, GKS-G 2022.
                      <br>- Đài Loan: học bổng toàn phần cho hệ thạc sĩ tại National Taiwan University.
                      <br>- Bỉ: học bổng VLIR-UOS (Full-ride) cho bậc thạc sĩ.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: học bổng GKS-G 2023.
                      <br>- Đài Loan: học bổng chính phủ Đài Loan (MOE Taiwan Scholarship 2023).
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.3s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\minh_duc.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Minh Đức</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>PhD ngành Biochemistry, Molecular, Cellular and Developmental Biology tại University of California,
                Davis, Mỹ</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#minhduc">Read more</button>
            </div>
            <div class="modal fade" id="minhduc" tabindex="-1" aria-labelledby="minhducLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="minhducLabel">Mentor Minh Đức</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các nước trên toàn thế giới chuyên ngành science & engineering.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Mỹ: Dean's Distinguished Graduate Fellowship.
                      <br>- Hàn Quốc: học bổng toàn phần KAIST bậc đại học và thạc sĩ, học bổng Huyndai Motor Chung
                      Mong-Koo Global Scholarship.
                      <br>- Singapore: học bổng 50% tại NUS.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hà Lan: thư mời nhập học từ Vrije Universiteit Amsterdam.
                      <br>- Hàn Quốc: học bổng trường Hanyang và Ewha cho hệ PhD ngành hóa học.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\thephuc.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Thế Phúc</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Microbiology và International relation tại Jeonbuk National University, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#thephuc">Read more</button>
            </div>
            <div class="modal fade" id="thephuc" tabindex="-1" aria-labelledby="minhducLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="minhducLabel">Mentor Thế Phúc</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các ngành tại Hàn Quốc.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng GKS-U 2020.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: GKS-G 2022,2023 (ngành văn học Hàn, ngôn ngữ Hàn, công nghệ sinh học, quản trị kinh
                      doanh), GKS-U 2022,2023,2024.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\hoanglien.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Hoàng Liên</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Media & Communication và International relation tại Korea University, Hàn Quốc</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#hoanglien">Read more</button>
            </div>
            <div class="modal fade" id="hoanglien" tabindex="-1" aria-labelledby="hoanglienLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="hoanglienLabel">Mentor Hoàng Liên</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các ngành Social Science tại Hàn Quốc.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng GKS-U 2022.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: GKS-U 2023; học bổng trường ChungAng bậc thạc sĩ ngành truyền thông; học bổng trường
                      Ewha.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\cucngo.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Cúc Ngọ</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Thạc sĩ ngành Korean Language & Literature tại Kyunghee University, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#cucngo">Read more</button>
            </div>
            <div class="modal fade" id="cucngo" tabindex="-1" aria-labelledby="cucngoLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cucngoLabel">Mentor Cúc Ngọ</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các ngành Hàn ngữ tại Hàn Quốc.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng GKS-G 2022.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: GKS-G 2023; học bổng trường Ewha.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\dieuhien.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Diệu Hiền</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Media & Communication tại Hanyang University, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#dieuhien">Read more</button>
            </div>
            <div class="modal fade" id="dieuhien" tabindex="-1" aria-labelledby="dieuhienLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dieuhienLabel">Mentor Diệu Hiền</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng ngành truyền thông tại Hàn Quốc.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng GKS-U 2021.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: GKS-U 2023; học bổng trường Hanyang.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\ngangiang.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Ngân Giang</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Bussiness Administration tại Korea University, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#ngangiang">Read more</button>
            </div>
            <div class="modal fade" id="ngangiang" tabindex="-1" aria-labelledby="ngangiangLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ngangiangLabel">Mentor Ngân Giang</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các ngành Social Science tại Hàn Quốc.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng GKS-U 2022.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: GKS-U 2023,2024, GKS-G 2023; học bổng trường Yonsei; học bổng trường Ewha.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp custom-spacing" data-wow-delay="0.7s">
        <div class="team-item position-relative roundedoverflow-hidden custom-card">
          <div class="overflow-hidden">
            <img class="img-fluid" style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"
              src="assets\images\team\phuonganh.jpg" alt="">
          </div>
          <div class="team-text  text-center p-4"
            style="border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
            <h5>Phương Anh</h5>
            <p class="text-primary">Mentor</p>
            <div class="team-social text-center">
              <p>Cử nhân ngành Bussiness Administration tại Korea University, Hàn Quốc.</p>
            </div>
            <div>
              <button type="button" class="btn btn-primary rounded-pill bg-light" data-toggle="modal"
                data-target="#phuonganh">Read more</button>
            </div>
            <div class="modal fade" id="phuonganh" tabindex="-1" aria-labelledby="phuonganhLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="phuonganhLabel">Mentor Phương Anh</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>Tham gia mentor học bổng các ngành Social Science tại Hàn Quốc.</p>
                    <p>Thành tích cá nhân của mentor:</p>
                    <p>- Hàn Quốc: học bổng GKS-U 2022.
                    </p>
                    <p>Các học bổng/trường đã hỗ trợ thành công:</p>
                    <p>- Hàn Quốc: GKS-U 2023; học bổng trường Ewha.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-light" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>