<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
          <h1>Our Experience Doctors</h1>
      </div>
      <div class="carousel-view">
      
      <!-- Left Button -->
          <button id="prev-btn" class="prev-btn">
              <svg viewBox="0 0 512 512" width="20" >
                  <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg>
          </button>
              <!-- List Container -->
                <!-- Indicators -->
              <ol class="carousel-indicators">
                  <li data-target="#carousel-view" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-view" data-slide-to="1"></li>
                  <li data-target="#carousel-view" data-slide-to="2"></li>
              </ol>
              <div id="item-list" class="item-list">
                  <!-- Items -->
                  <div id="item" class="item active">
                      <div class="d-flex align-center text-left pa-3" style="border-radius: 8px; border-bottom:1px solid #E5F4FF; align-items: center!important;">
                          <img src="assets\images\post\4.jpg" height="50" width="50" alt="image-testi-profile-mobile" style="border-radius: 50%;"> 
                          <div class="pl-4" style="width:100%;">
                             
                              <span class="uni">University of San Francisco</span> 
                              <br> 
                              <span class="uni">LPDP Targeted Kewirausahaan</span>
                          </div>
                      </div>
  
                      <div class="team-text bg-light text-center p-4">
                          <h5>Doctor Name</h5>
                          <p class="text-primary">Department</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <img id="item" class="item" src="assets\images\post\4.jpg"/>
                  <img id="item" class="item" src="assets\images\post\5.jpg"/>
                  <img id="item" class="item" src="assets\images\post\6.jpg"/>
                  <img id="item" class="item" src="assets\images\post\7.jpg"/>
                  <img id="item" class="item" src="assets\images\post\8.jpg"/>
                  <img id="item" class="item" src="assets\images\post\9.jpg"/>
                  <img id="item" class="item" src="assets\images\post\3.jpg"/>
              </div>
      
      <!-- Right Button -->
          <button id="next-btn" class="next-btn"> 
              <svg viewBox="0 0 512 512" width="20" title="chevron-circle-right">
                  <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z" />
              </svg>
          </button>
      </div>
      <script>
          const prev = document.getElementById('prev-btn')
          const next = document.getElementById('next-btn')
          const list = document.getElementById('item-list')
          const itemWidth = 150
          const padding = 10
      
          prev.addEventListener('click',()=>{
          list.scrollLeft -= (itemWidth + padding)
          })
          next.addEventListener('click',()=>{
          list.scrollLeft += (itemWidth + padding)
          })
      </script>
  </div>
  </div>
    </div>
  