<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html"><b>HOME</b></a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/mentors.html">Mentor program</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/service/mentorProgram.html"><b>DỊCH VỤ</b></a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/koreanClass.html">Lớp tiếng Hàn</a>
</li> -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/humanOfSEM.html"><b>ĐỘI NGŨ</b></a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/hallOfFame.html"><b>CÂU CHUYỆN THÀNH CÔNG</b></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html"><b>GIỚI THIỆU</b></a>
</li>
