<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/mentors.html">Mentor program</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/mentorProgram.html">Mentor program</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/koreanClass.html">Lớp tiếng Hàn</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/humanOfSEM.html">Đội ngũ của SEM</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">Hall of fame</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
</li>
