<!-- All this area goes before </body> closing tag -->

<hr>
<div class="container">
    <footer class="py-5">
        <div class="row">



            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{{site.baseurl}}/index" class="nav-link p-0 text-muted">Home</a>
                    </li>
                    <li class="nav-item mb-2"><a href="{{site.baseurl}}/mentorProgram"
                            class="nav-link p-0 text-muted">Mentor program</a></li>
                    <li class="nav-item mb-2"><a href="{{site.baseurl}}/humanOfSEM" class="nav-link p-0 text-muted">Đội
                            ngũ
                            của SEM</a></li>
                    <li class="nav-item mb-2"><a href="{{site.baseurl}}/hallOfFame"
                            class="nav-link p-0 text-muted">Mentee
                            của SEM</a></li>
                    <li class="nav-item mb-2"><a href="{{site.baseurl}}/About" class="nav-link p-0 text-muted">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Contact us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/SEMScholarsTeam"
                            class="nav-link p-0 text-muted">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="https://www.instagram.com/sem_scholars/"
                            class="nav-link p-0 text-muted">Instagram</a></li>
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/groups/652584676416646"
                            class="nav-link p-0 text-muted">Our Community</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Contact founder</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Youtube</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tiktok</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">GKS Group</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <a href="{{site.baseurl}}/index" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <span class="navbar-brand mr-2 mb-0"><strong>SEM Scholars</strong></span>
                </a>
                <p class="text-muted">&copy; 2023</p>
                <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=semscholars.team@gmail.com&tf=1"
                    class="nav-link p-0 text-muted">
                    Semscholars.team@gmail.com</a>
            </div>
        </div>
    </footer>
</div>