---
layout: default
---
<div class="s-layout">
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger" href="#0">
        <i class="fa fa-bars"></i>
      </a>
    
      <nav class="s-sidebar__nav">
        <ul>
            <li>
              <a class="s-sidebar__nav-link" href="{{site.baseurl}}/service/mentorProgram.html">
                  <i class="fa fa-home"></i><p>Tổng quan</p>
              </a>
            </li>
            <li>
              <a class="s-sidebar__nav-link" href="{{site.baseurl}}/service/mentorLe.html">
                <i class="fa fa-user"></i><p>Các gói mentor lẻ</p>
              </a>
            </li>
            <li>
              <a class="s-sidebar__nav-link" href="{{site.baseurl}}/service/mentorAZ.html">
                  <i class="fas fa-globe-americas"></i><p>Các gói mentor A-Z</p>
              </a>
            </li>
            <li>
              <a class="s-sidebar__nav-link" href="{{site.baseurl}}/service/uudai.html">
                  <i class="fas fa-tags"></i><p>Các ưu đãi</p>
              </a>
            </li>
            <li>
              <a class="s-sidebar__nav-link" href="{{site.baseurl}}/service/roadmap.html">
                  <i class="fas fa-map-marked-alt"></i><p>Lộ trình</p>
              </a>
            </li>
            <li>
              <a class="s-sidebar__nav-link" href="{{site.baseurl}}/service/register.html">
                  <i class="far fa-edit"></i><p>Đăng ký</p>
              </a>
            </li>
        </ul>
      </nav>
    </div>

    <div class="s-layout__content">
      {{content}}
    </div>
  </div>
